{{> head }}

{{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>{{ nombre }}</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et corrupti ipsam quae eius dolorem accusamus, tempore ut porro doloremque, dolor tempora amet dolore atque sapiente soluta. Asperiores reiciendis animi amet.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/2pn_500.png" class="img-thumbnail">
        </div>
    </div>

{{> footer}}